<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/tripal_styling.css">
    <title>TriPal - Home Page</title>
</head>
<body id = "HomePage">
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item">
                <a href="HomePage.html">Home</a>
            </li>
            <li class="list-item">
                <a href="About Us">About Us</a>
            </li>
            <li class="list-item">
                <a href="contactUs">Contact Us</a>
            </li>
        </ul>
    </nav>

    <div id="header">
    <Header class="tripalHeader">TriPal</Header>
    <footer class="tripalHeader">Find the best partner <br> for your dream journey</footer>
    </div>

    <button onclick="window.location.href = 'SignUp.html';" class="start_your_journey">Start Your Journey</button>


</body> 
</html>