<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriPal - My Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/profile3css.css">
    <script defer src="../static/myProfileJS.js"></script>
</head>
<body>
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item">
                <a href="myprofile.html">My Profile</a>
            </li>
            <li class="list-item">
                <a href="URL">My Matches</a>
            </li>
            <li class="list-item">
                <a href="TripalContactUs_signIn.html">Contact Us</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="main">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="../static/itamar.jpg" class="rounded-circle" width="150">
                        <div class="col-sm">
                            <h3>Itamar Goldshmidet</h3>
                            <a href="">Facebook Page</a>
                            <a href="">Instagram</a>
                            <a href="">Twitter</a>
                            <a href="">setting</a>
                            <a href="">Signout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <h1 class="card-title">Personal Info</h1>
                    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Full Name</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Full-Name" class="card-text">Itamar Goldshmidet</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Email</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Email" class="card-text">Hagar@post.bgu.ac.il</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Phone</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Phone-Number" class="card-text">0548182379</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Destnation</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Destnation" class="card-text">Paris</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>From</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="From" class="card-text">06/01/22</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>To</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="To" class="card-text">05/16/21</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-success" onclick="edit()">Edit</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-success" onclick="save()">Save</button>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="pt-3">
                <div class="card">
                    <div class="card-taitel">
                        <h1 class="card-title">Personal Info</h1>
                    </div>
                    <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Hobbies</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Hobbies" >Yoga , Swiming</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Trip Vibe</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Vibe" >Chill</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Linguees</h5>
                                </div>
                                <div class="col-sm-9">
                                    <p id="Linguees" >Hebrew , English</p>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>